.App{
  margin: 175px 450px 200px 450px ;
  text-align: center;
  border: 5px groove springgreen;
  background-image: url('https://t3.ftcdn.net/jpg/06/15/47/64/360_F_615476401_jqqBFIVMdGWhWoQo8bqu83XMMQoYxWmN.jpg');
  padding: 50px;
  border-radius: 15px;
  width: 25%;
  
}
.App label{
  text-align: left;
  display: inline;
  font-weight: bolder;
  color: white;
  margin-left: 20px;

}
.App input{
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  font: inherit;
  border: transparent;
  border-radius: 20px; 
}
.App button{
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: greenyellow;
  outline-style:groove;
}

